@font-face {
  font-family: "Arcade";
  src: local("Arcade"), url("./assets/ARCADE.TTF"), format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root{
  --TUTORIAL_KEY_HEIGHT: 40px
}

body {
  margin: 0;
  font-family: "Monospace";
}

img {
  image-rendering: pixelated;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.gameScreen {
  font-family: "Arcade";
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: relative;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black, 0 0 0 8px white;
  overflow: hidden;
  font-size: 1.5rem;
}

.titleScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
}

.titleScreen h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

.titleScreen p {
  font-size: 2.5rem;
  margin: 0;
}

.tutorial {
  display: flex;
  gap: 30px;
  margin-top: 3rem;
}

.tutorialKeys {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.tutorialKey {
  display: grid;
  place-items: center;
  border: 3px solid white;
  border-radius: 10px;
  height: var(--TUTORIAL_KEY_HEIGHT);
}

.tutorialShoot{
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  flex: end;
  /* justify-content: center; */
}

.tutorialShoot p {
  font-size: 1.5rem;
  margin: auto;
}

.tutorialSpaceKey {
  display: grid;
  place-items: center;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0 30px;
  height: var(--TUTORIAL_KEY_HEIGHT);
}

.lives {
  position: absolute;
  top: 5px;
  left: 10px;
}

.lives span {
  font-size: 1.5rem;
  display: block;
}

.score {
  position: absolute;
  top: 5px;
  right: 10px;
}

.gameOver {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: initial;
}

.gameOverText {
  font-size: 3rem;
}

.gameOver p {
  margin: 0;
}

.ingame {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .asteroid {
  animation: fadeIn 2s
} */
.flashing {
  animation: fadeIn 0.4s infinite ease-in-out alternate;
}

.ingame > img {
  position: absolute;
  display: block;
}

.hide {
  display: none !important;
}

.devTools {
  color: white;
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.devTools section {
  margin: 1rem 0 0 0;
}

.devBtnRow {
  display: flex;
  justify-content: space-between;
}

.devBtnRow > * {
  flex: 1;
}

.devTools span {
  font-weight: bold;
}

.fps {
  font-weight: bold;
  font-size: 2rem;
}
