/* @font-face {
  font-family: "arcadeclassic";
  src: url("./assets/arcadeclassic-webfont.woff2") format("woff2"), url("./assets/arcadeclassic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "arcaderegular";
  src: url("./assets/arcade-webfont.woff2") format("woff2"), url("./assets/arcade-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashYellow {
  0% {
    color: yellow;
    opacity: 0.5;
  }
  100% {
    color: rgb(255, 255, 0);
    opacity: 1;
  }
}

@keyframes floatUpAndDown {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes laserGrow {
  0% {
    height: 0px;
    width: 5px;
  }
  100% {
    height: 32px;
    width: 5px;
  }
}

@keyframes pickupScoreFlash {
  0%,
  49.9% {
    color: yellow;
  }

  50%,
  100% {
    color: rgb(160, 20, 20);
  }
}

:root {
  --TUTORIAL_KEY_HEIGHT: 44px;
  --FADE_IN: fadeIn 0.8s ease-in-out forwards;
  --FADE_OUT: fadeIn 3s ease-in-out reverse both;
  --FLASHING: fadeIn 0.4s infinite ease-in-out alternate;
  --FLASHING_REVERSE: fadeIn 0.4s infinite ease-in-out alternate-reverse;
  --FLASHING_YELLOW: flashYellow 0.3s ease-in-out infinite alternate;
  --FLOAT_UP_AND_DOWN: floatUpAndDown 1s ease-in-out infinite alternate;
  --PICKUP_SCORE_FLASH: pickupScoreFlash 0.1s infinite alternate;
  --TEXT_LARGE: 3rem;
  --TEXT_MEDIUM: 2rem;
  --MT_4: 4rem auto 0 auto;
}

body {
  margin: 0;
  box-sizing: border-box;
}

img {
  image-rendering: pixelated;
}

.textLarge {
  font-size: var(--TEXT_LARGE);
}

.textMedium {
  font-size: var(--TEXT_MEDIUM);
}

.mt-4 {
  margin: var(--MT_4);
}

.floatUpAndDown {
  animation: var(--FLOAT_UP_AND_DOWN);
}

.fadeOut {
  animation: var(--FADE_OUT);
}

.pickupScoreFlash {
  color: yellow;
  animation: var(--PICKUP_SCORE_FLASH);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.gameScreen {
  font-family: "arcaderegular";
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: relative;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black, 0 0 0 8px white;
  overflow: hidden;
  font-size: 1.5rem;
}

.titleScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  animation: var(--FADE_IN);
}

.titleScreen h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

.tutorial {
  display: flex;
  gap: 30px;
  margin-top: 3rem;
  font-weight: bold;
}

.tutorialKeys {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.tutorialKey {
  display: grid;
  place-items: center;
  border: 2px solid white;
  border-radius: 10px;
  height: var(--TUTORIAL_KEY_HEIGHT);
}

.tutorialShoot {
  display: flex;
  flex-direction: column;
  flex: end;
}

.tutorialShoot p {
  font-size: 2rem;
  margin: auto;
  font-weight: initial;
}

.tutorialSpaceKey {
  display: grid;
  place-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 30px;
  height: var(--TUTORIAL_KEY_HEIGHT);
}

.lives p,
.score p {
  font-size: 2rem;
  margin: 0;
}

.lives {
  position: absolute;
  top: 5px;
  left: 10px;
}

.score {
  position: absolute;
  top: 5px;
  right: 10px;
}

.gameOver,
.highscore {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: initial;
  cursor: default;
}

.gameOverText {
  margin: 0;
}

.submitButton {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 4rem;
  width: 75%;
  margin: 4rem auto 0 auto;
}

.submitButton > span {
  cursor: pointer;
  padding: 0.5rem 0;
  display: block;
  width: 100%;
  height: 100%;
}

.submitButton > span:hover {
  animation: var(--FLASHING_REVERSE);
}

.highscoreItem {
  font-size: 2rem;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: var(--DELAY);
  animation-fill-mode: forwards;
}

.highscoreItem span {
  letter-spacing: 7px;
}

.nameInputWrapper {
  pointer-events: initial;
  cursor: default;
  text-align: center;
  font-size: 2rem;
}

.nameInputWrapper input {
  font-family: "arcaderegular";
  text-align: center;
  font-size: 2rem;
  color: white;
  outline: none;
  border-style: none;
  caret-color: transparent;
  border-bottom: 3px solid white;
  background: black;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0 0.5rem;
  pointer-events: none;
}

.nameInputWrapper input:focus {
  animation: var(--FLASHING_REVERSE);
}

.restartText {
  font-size: 2rem;
  margin: 4rem 0 0 0;
}

.ingame {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashing {
  animation: var(--FLASHING);
}

.flashingYellow {
  animation: var(--FLASHING_YELLOW);
}

.ingame > img {
  position: absolute;
  display: block;
}

.hide {
  display: none !important;
}

.devTools {
  color: white;
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.devTools section {
  margin: 1rem 0 0 0;
}

.devBtnRow {
  display: flex;
  justify-content: space-between;
}

.devBtnRow > * {
  flex: 1;
}

.devTools span {
  font-weight: bold;
}

.fps {
  font-weight: bold;
  font-size: 2rem;
}
